const std = @import("std");
const Io = std.Io;

pub fn main(init: std.process.Init) !void {
    var stdout_buffer: [1024]u8 = undefined;
    var stdout_file_writer: Io.File.Writer = .init(.stdout(), init.io, &stdout_buffer);
    const stdout = &stdout_file_writer.interface;
    try stdout.writeAll(message());
    try stdout.flush();
}

fn message() []const u8 {
    return "Hello from {{PROJECT_NAME}}.\n";
}

test "CLI smoke test executes" {
    try std.testing.expectEqualStrings(
        "Hello from {{PROJECT_NAME}}.\n",
        message(),
    );
}
